@import url("master.css");

section#contact {
	text-align: center;
	margin: 40px 0;
}
section#contact h1 {
	font-size: 30px;
}
section#contact h3 {
	font-size: 17px;
	font-weight: 100;
}


section#contact div#services {
	text-align: left;
	width: 300px;
	margin: 40px auto 0;
}
section#contact div#services p {
	font-size: 17px;
}
section#contact div#services a {
	text-decoration: none;
	color: rgb(62, 133, 255);
}
section#contact div#services a:hover {
	text-decoration: underline;
}